Several problems in RFC citations

tools.ietf.org is not appropriate to be used in references to RFCs (long story), URLs should start with http://www.rfc-editor.org/info per RFC editor policy.  See [RFC 7322 section 4.8.6.2](https://www.rfc-editor.org/rfc/rfc7322#section-4.8.6.2) for the correct way to cite RFCs.

So for BCP 13 for example, use http://www.rfc-editor.org/info/bcp13 and for RFC 4122 it should be https://www.rfc-editor.org/info/rfc4122.   (If you really need the format that tools.ietf.org supported, https://www.rfc-editor.org/rfc/rfc4122 would be the correct location.)

See [Clarifying the state of and the transition plan for tools.ietf.org](https://mailarchive.ietf.org/arch/msg/ietf/0n-6EXEmkTp3Uv_vj-5Vnm3o0bo/)  for a tiny sampling of the long story behind why not to link to tools.ietf.org in URLs.  It was a private individual's site, which has fallen out of repair, not an official RFC repository.

Thanks for the report. Do you want to put together a pull request with the fix?

In addition, the document is inconsistent in terms of whether it says "RFC xxxx" vs "IETF RFC xxxx", sometimes even for the same RFC (RFC 3986 and 7405 for example are sometimes called "IETF RFC xxxx" and other times called "RFC xxxx").

And there's even a typo in one reference where "BPC" should be "BCP":
> The ABNF grammar for language tags is given in BPC 47, section 2.1, production Language-Tag.

Manually closing since fixed in PR #8 

@tychonievich for future reference if you put "Fixes #4" in the description of your PR, github will automatically link the PR to the issue and close the issue when the PR is merged.  See https://github.blog/2013-01-22-closing-issues-via-commit-messages/