Terminology contradiction in FILE tag use of "URL"

The GEDCOM spec says, regarding the FILE tag:

> Syntactically, the payload is a URL, as defined by RFC 3986 and https://url.spec.whatwg.org/. 

and

> A URL with all of the following:
> * no scheme
> ...

However a string with no scheme is not a legal "URL" in either RFC 3986 or https://url.spec.whatwg.org/.
[RFC 3986 sections 4.1](https://www.rfc-editor.org/rfc/rfc3986.html#section-4.1) and 4.2 refer to it as a "relative reference", and 4.1 defines "URI reference" as the term for the union of URIs (including URLs as it explains earlier in the doc) and relative references, and so a "URI reference" would be the RFC 3986 term for what FILE can contain.

The [WHATWG URL spec section 4](https://url.spec.whatwg.org/#urls) similarly defines a URL as the output of a URL parser, and always has a scheme.  The input is a "[valid URL string](https://url.spec.whatwg.org/#valid-url-string)" (equivalent to what RFC 3986 calls a "URI reference") that can be a relative URL (equivalent to RFC 3986's "relative reference") or an absolute URL.

Hence the sentence
> Syntactically, the payload is a URL, as defined by RFC 3986 and https://url.spec.whatwg.org/. 

implies that a scheme is required, and hence contradicts the other text following it.

Presumably the latter text is intended to be correct and the above sentence is incorrect.  One approach would be to change it to something like:

> Syntactically, the payload is a URI reference as defined by RFC 3986, or a valid URL string as defined by https://url.spec.whatwg.org/.   That is, it can be an absolute or relative URL, optionally with a fragment string.


Fair enough. I'm happy to merge a pull request.